#header {
  display: flex;
  background-color: #8585ff;
  height: 150px;
  width: 100%;
}

.h-i {
  border: 1px solid #ccc;
  width: 50%;
}

.header-img {
  background: linear-gradient(#8585ff36, #8585ffba), url(../assets/stockPic.jpg) no-repeat center center/cover;
}

.header-info {
  padding: 8% 0 0 5%;
  overflow: hidden;
}
