.detail {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.detail:nth-child(even) { background-color: #6060ff; }

.detail:nth-child(odd) { background-color: #7b7bf7; }
